## Data types

In [1]:
#intergers  numbers,floats , boolean

In [2]:
#strings ' ' or " "

In [3]:
'strings always in quotes'

'strings always in quotes'

In [4]:
"double or single quotes for strings"

'double or single quotes for strings'

In [5]:
#examples

In [6]:
"i can't go"  # single quotes in double quotes

"i can't go"

In [7]:
x="hello"

In [8]:
x

'hello'

In [9]:
#if you just call the assigned value as like X .. you will get it in quoates, 
#if you want the string to be called without the quotes.. then use print function

In [10]:
print(x)

hello

In [11]:
#formating print statements

In [12]:
num=12
name='sam'

In [13]:
print('my num is {} and my name is {}'.format(num,name))

my num is 12 and my name is sam

In [14]:
#indexing strings

In [15]:
s = 'hello'

In [16]:
s[0]

'h'

In [17]:
s[4]

'o'

In [18]:
#slicing :

In [19]:
q = 'qwertyuiop'

In [20]:
q[:]

'qwertyuiop'

In [21]:
q[0:]

'qwertyuiop'

In [22]:
q[0:3]

'qwe'

In [23]:
q[:4]

'qwer'

In [24]:
q[3:6]

'rty'

In [25]:
#lists  [] lists are set of elements within square brackets and separated by comma
# list can be any kind of data types eg: numbers strings

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['a','b','c']

['a', 'b', 'c']

In [28]:
my_list=['a','b','c']

In [29]:
    # to add elements to list after creating it 
    # use append function

In [30]:
my_list.append('d')

In [31]:
my_list

['a', 'b', 'c', 'd']

In [32]:
# we can use slicing function in list

In [33]:
my_list[1:4]

['b', 'c', 'd']

In [34]:
# we can re-assign values inside lists

In [35]:
my_list[0]=x

In [36]:
my_list

['hello', 'b', 'c', 'd']

In [37]:
# nesting inside the list

In [38]:
nest=[1,2,[3,4]]

In [39]:
nest

[1, 2, [3, 4]]

In [40]:
nest[2][1]

4

In [41]:
nest=[1,2,3,[4,5,['target']]]

In [42]:
print(nest[3][2][0])

target

In [43]:
#creating a dictionary : dictionary behaves like a key:value pair

In [44]:
d = {'key1':'value','key2':123}

In [45]:
d['key1']

'value'

In [46]:
d['key2']

123

In [47]:
d={'k1':[1,2,3]}

In [48]:
d ['k1']

[1, 2, 3]

In [49]:
d['k1'][1]

2

In [50]:
# dictionary nested within a dictionary

In [51]:
d={k1:{'innerkeys;}}

SyntaxError: EOL while scanning string literal (1252346554.py, line 1)

In [ ]:
num=8123519214

In [ ]:
name= "Ann"

In [ ]:
address= "Pallath house"

In [ ]:
print('Hi iam {} and my number is {} and am from {}.' .format(name,num,address))

# first exercise

In [ ]:
#what is 7 to the power of 4

In [ ]:
7**4

In [ ]:
# split the string "Hi there sam" in to a list

In [ ]:
S="Hi there sam"

In [ ]:
list(S.split())

In [ ]:
# given the variable
# planet ="Earth " and diameter =12742.
# use.format to print  the diameter of earth is 12742 kilometers.

In [ ]:
a="Earth"

In [ ]:
b=12472

In [ ]:
print(("The diameter of {} is {} kilometers.").format(a,b))

In [ ]:
# given the nested list use indexing  to find "hello"
# lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
lst= [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [ ]:
print(lst[3:][0][1][2][0])

In [ ]:
# given the nest dictionary grab the word "hello"
#d={'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d= {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
print(d['k1'][3]['tricky'][3]['target'][3])

In [ ]:
#what is the main difference between tuple and a list

In [ ]:
#list is mutable; tuple is not
#list[]; tuple()

In [ ]:
#create a function that grabs the email website domain from a string in the form 
#user@domain.com
# so for example passing user@domain.com would return domain.com

In [ ]:
s= 'user@domain.com'

In [ ]:
s.split('@')[1]

In [ ]:
def domainGet(email):
    return email.split('@')[1]

In [ ]:
domainGet('user@domain.com')

In [ ]:
# create a basic function that returns True if the word 'dog' is contained in the input string . dont worry about the edge cases like a punctuation is being attached to the word 'dog', but do account for captilization

In [ ]:
def wordDog(S):
    return ('True')

In [ ]:
wordDog( "is there a word Dog here")

In [ ]:
#create a function that counts the number of times the word "sea" occurs in a string .again ignore edge cases

In [ ]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [ ]:
countDog('This dog runs faster than the other dog dude!')

In [ ]:
 def countSea(st):
        count=0
        for word in st.split():
            if word == 'sea':
                count += 1
        return count

In [ ]:
countSea('She sells sea shells in the sea shore sea')

In [ ]:
# USe lambda expressions and the filter () function to filter out  words from a list  that doesnt start with the letter 's'
# for exaample : seq = ['soup', 'dog', 'salad', 'cat', 'great']

In [ ]:
seq = ['soup', 'dog', 'salad', 'cat', 'great']

In [ ]:
list(filter(lambda word:word[0]=='s',seq))

In [ ]:
# you are driving too fast , and a police officer stops you. write a function to return one of three possible results:
#"no ticket ", "small ticket", "big ticket". 
# if s<=60 : no ticket
# if s- 61 to 80: small ticket
# if s>=81 : big ticket . unless its your birthday (encoded as boolean value in parameters of the function.)
# on your birthday speed can be 5 higher in all cases

In [ ]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding =speed - 5
    else: 
        speeding=speed
           
            
    if speeding >80:
        return "Big ticket"
    elif speeding >60:
        return "small ticket"
    else:
        return "No ticket"

In [ ]:
caught_speeding(81,False)

In [ ]:
caught_speeding(81,True)

In [ ]:
caught_speeding(51,False)

In [ ]:
caught_speeding(51,True)

# NumPy Arrays

In [ ]:
conda install numpy

In [ ]:
#casting a normal python list to an array

In [ ]:
my_list=[1,2,3,4]

In [ ]:
my_list

In [ ]:
#into a NumPy array

In [ ]:
import numpy as np

In [ ]:
np.array(my_list)

In [ ]:
arr=np.array(my_list)

In [ ]:
arr

In [ ]:
my_mat=[[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
np.array(my_mat)

In [ ]:
#common way to use an NumPy array is using np.arrange

In [ ]:
np.arange(0,11,2)

In [ ]:
#numpy operations
#1. Array with array
#2. Array with scalars
#3. Universal array functions

In [ ]:
#1. Array with array

In [ ]:
import numpy as np

In [ ]:
arr= np.arange(0,11)

In [ ]:
arr

In [ ]:
# adding two arrays with elements to elements basis just add two arrays as

In [ ]:
arr + arr

In [ ]:
arr-arr

In [ ]:
arr*arr

In [ ]:
# 2.array with scalar operations

In [ ]:
arr + 100

In [ ]:
#note: here is scalar also operation will happen element to element basis

In [ ]:
#3. universal array functions

In [ ]:
# for square root

In [ ]:
np.sqrt(arr)

In [ ]:
# for exponential form

In [ ]:
np.exp(arr)

In [ ]:
np.max(arr)

In [ ]:
np.min(arr)

In [ ]:
# for trignometric function

In [ ]:
np.sin(arr)

In [ ]:
np.cos(arr)

In [ ]:
# for logarithmic function ( note we may get warning for non valid mathematical operations)

In [ ]:
np.log(arr)

# 2.numpy exercises

In [ ]:
#1. import numpy as np

In [ ]:
import numpy as np

In [ ]:
#2. create an array of 10 zeroes

In [ ]:
arr=np.zeros(10)

In [ ]:
arr

In [ ]:
#3. create an array of 10 ones

In [ ]:
arr1=np.ones(10)

In [ ]:
arr1

In [ ]:
#4. create an array of 10 5

In [ ]:
arr2=np.ones(10)*5

In [ ]:
arr2

In [ ]:
#5.create an array of the integer from 10 to 50

In [ ]:
arr3=np.arange(10,51)

In [ ]:
arr3

In [ ]:
#6. create an array of all even integer from 10 to 50

In [ ]:
arr4=np.arange(10,51,2)

In [ ]:
arr4

In [ ]:
#7. create 3X3 matrix with values ranging from 0 to 8

In [ ]:
mat1=np.arange(0,9).reshape(3,3)

In [ ]:
mat1

In [ ]:
# 8.create a 3X 3 identity matrix

In [ ]:
mat2=np.eye(3)

In [ ]:
mat2

In [ ]:
#9. use numpy to generate a random number between 0 to 1

In [ ]:
arr5=np.random.randint(0,1)

In [ ]:
arr5

In [ ]:
#10. use numpy to generate an array of 25 random numbers sampled from a standard normal distribution

In [ ]:
arr6=np.random.normal(0,1,25)

In [ ]:
arr6

In [ ]:
#11.create the following matrix( matrix from 0.01 to 1 with step size of 0.01 and 10 by 10 matrix)

In [ ]:
# 1 way

In [ ]:
np.arange(1,101).reshape(10,10)/100

In [ ]:
# 2 way using linspace

np.linspace(0.01,1,100).reshape(10,10)

In [ ]:
np.linspace(0.01,1,100).reshape(10,10)

In [ ]:
#12 create an array of 20 linearly spaced points between 0 and 1

In [ ]:
arr7= np.linspace(0,1,20)

In [ ]:
arr7

In [ ]:
# Numpy indexing and selection

In [ ]:
#. now you will be given a few matrices and be asked to replicate the resulting matrix outputs

In [ ]:
mat1= np.arange(1,26).reshape(5,5)

In [ ]:
mat1

In [ ]:
#13. write code here that reproduces the output of the cell below.
# careful not to run the cell below , otherwise you wont be able to see the output anymore.
#( we want from 12 to 25)(2 row to 1 column)

In [ ]:
mat1[2:,1:]

In [ ]:
#14. write code here that reproduces the output of the cell below.
# careful not to run the cell below , otherwise you wont be able to see the output anymore.( we want out put 20)

In [ ]:
mat1[3,4]

In [ ]:
#15. write code here that reproduces the output of the cell below.
# careful not to run the cell below , otherwise you wont be able to see the output anymore.( we want out put 2,7,12)

In [ ]:
mat1[:3,1:2]

In [ ]:
#16. write code here that reproduces the output of the cell below.
# careful not to run the cell below , otherwise you wont be able to see the output anymore.
#( we want out put 21,22,23,24,25)

In [ ]:
mat1

In [ ]:
mat1[4,:]

In [ ]:
#17. write code here that reproduces the output of the cell below.
# careful not to run the cell below , otherwise you wont be able to see the output anymore.
#( we want out put 16 to 25)

In [ ]:
mat1[3:,:]

In [ ]:
#18. Now do the following

In [ ]:
mat1

In [ ]:
#18. a) Get the sum of all the values in mat( can also use np.sum(mat1))

In [ ]:
mat1.sum()

In [ ]:
#18. b) Get the standard deviation of  the values in mat

In [ ]:
mat1.std()

In [ ]:
#18. c) Get the sum of all the columns  in mat

In [ ]:
mat1.sum(axis=0)

# Pandas

In [ ]:
conda install pandas

In [ ]:
#1. series

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [ ]:
pd.Series(data=my_data)

In [ ]:
pd.Series(data=my_data,index=labels)

In [ ]:
# or without saying data= and index=

In [ ]:
pd.Series(my_data,labels)

In [ ]:
pd.Series(arr,labels)

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(d)

In [ ]:
pd.Series(data=[sum,print,len])

In [ ]:
ser1=pd.Series([1,2,3,4],['Bali','India','Korea','Japan'])

In [ ]:
ser1

In [ ]:
ser2=pd.Series([1,2,5,4],['Bali','India','Italy','Japan'])

In [ ]:
ser2

In [ ]:
ser1['Bali']

In [ ]:
ser1+ser2

#2. DataFrames ( its bunch of series)

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
from numpy.random import randn

In [ ]:
np.random.seed(101)

In [ ]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [ ]:
df

In [ ]:
df['W']

In [ ]:
type(df['W'])

In [ ]:
type(df)

In [ ]:
df.W

In [ ]:
df[['W','Z']]

In [ ]:
# creating new column in dataframes

In [ ]:
df['New']=df['W']+df['Y']

In [ ]:
df

In [ ]:
# to delete a column(df.drop)

In [ ]:
df.drop('New',axis=1)

In [ ]:
# here new column will not be deleted from dataframe itself like if we call df , we will get with new column,
# to remove it from dataframe use "inplace" as True command

In [ ]:
df

In [ ]:
df.drop('New',axis=1,inplace=True)

In [ ]:
df

In [ ]:
# to remove rows (axis=o; or simply no need to mention it as by default its axis=o and in case of removing column its axis=1)

In [ ]:
df.drop('E',axis=0)

In [ ]:
df.drop('E')

In [ ]:
df

In [ ]:
# here  row will not be deleted from dataframe itself like if we call df , we will get  that row,
# to remove it from dataframe use "inplace" as True command

In [ ]:
df.drop('D',inplace=True)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [ ]:
df

In [ ]:
# for column selection we use indexing and slicing way
# rows selection( two methods)
#1  is df.loc[] as for in location and row you want
#2. is based on index position: df.iloc[] and use index as numbers position even if our indexing is in strings
# use square brackets

In [ ]:
df.loc['A']

In [ ]:
df.iloc[4]

In [ ]:
# subsetting rows or columns

In [ ]:
df.loc['B','Y']

In [ ]:
# if we want A and B rows and W and Y columns

In [ ]:
df.loc[['A','B'],['W','Y']]

# building a dataframe

In [ ]:
# multilevel indexing

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
#index levels
outside=['G1','G1','G1','G2','G2','G2']
inside= [1,2,3,1,2,3]
hier_index= list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [ ]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [ ]:
df

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names

In [ ]:
#we can name the index

In [ ]:
df.index.names=['Groups','Num']

In [ ]:
df

In [ ]:
#slicing  ( ex we need 0.072960 that is in G2 in 2 and B column)

In [ ]:
df.loc['G2'].loc[2]['B']

In [ ]:
# ex. grab -0.13481

In [ ]:
df.loc['G1'].loc[3]['A']

In [ ]:
# CROSS-SECTION(xs) we can use this when we have a multi level index

In [52]:
df.xs('G1')

NameError: name 'df' is not defined

In [ ]:
# here cross section skips outer index and goes inside the multi level index

In [ ]:
df.xs(1,level='Num')

In [ ]:
# Missing data

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
d={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [ ]:
df=pd.DataFrame(d)

In [ ]:
df

In [ ]:
 # removing or dropping missing values from our data set # by 'dropna' method

In [ ]:
df.dropna()

In [ ]:
# here pandas will remove any rows and column altogether containing missing values

In [ ]:
# here dropna method by default is axis=0 so operation takes place by rows, if you want it to happen by columns
# we need to use axis =1

In [ ]:
df.dropna(axis=1)

In [ ]:
# we can set threshold(thresh) value to set a integer value and it requires so many non-na value 
#to sustain that row/column  without  getting dropped

In [ ]:
df.dropna(thresh=2)

In [ ]:
# to fill in missing values

In [ ]:
df.fillna(value='abc')

In [ ]:
# can use mean of the columns to fill the na

In [ ]:
df['A'].fillna(value=df['A'].mean())

In [ ]:
df['B'].fillna(value=df['B'].mean())

In [ ]:
df['C'].fillna(value=df['C'].min())

In [ ]:
# Groupby

In [ ]:
#grouby allows you to group together rows based off of a column and perform an aggregate function on them

In [ ]:
# lets learn groupby with pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data={'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
      'sales':[200,120,340,124,243,350]}

In [ ]:
data

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

In [ ]:
# we can use group by method to group rows together based on the column name.
# eg: we can group by column company

In [ ]:
bycomp= df.groupby('Company')

In [ ]:
bycomp.mean()

In [ ]:
bycomp.sum()

In [ ]:
bycomp.std()

In [ ]:
bycomp.sum().loc['FB']

In [ ]:
df.groupby('Company').sum().loc['FB']

In [ ]:
 df.groupby('Company').count()

In [ ]:
df.groupby('Company').max()

In [ ]:
# use describe to get many details like count , mean,std,etc

In [ ]:
df.groupby('Company').describe()

In [ ]:
# we can change the format of output by using transpose

In [ ]:
df.groupby('Company').describe().transpose()

In [ ]:
### Merging, Joining and concatenating

In [ ]:
#Example dataframes to work with

In [ ]:
 import pandas as pd

In [ ]:
df1=pd.DataFrame({'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3'],
                'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']},index=[0,1,2,3])

In [ ]:
df2=pd.DataFrame({'A':['A4','A5','A6','A7'],'B':['B4','B5','B6','B7'],
                 'C':['C4','C5','C6','C7'],'D':['D4','D5','D6','D7']},index=[4,5,6,7])

In [ ]:
df3=pd.DataFrame({'A':['A8','A9','A10','A11'],"B":['B8','B9','B10','B11'],
                 'C':['C8','C9','C10','C11'],'D':['D8','D9','D10','D11']},index=[8,9,10,11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

In [ ]:
#Concatenation:
# Concatenation basically glues together the dataframes. Keep in mind that dimensions should match along the axis you are
# concatenating on. you can use pd.concat and press in a list of dataframes to concatenate together

In [ ]:
pd.concat([df1,df2,df3])  # axis is 0 so its joined the rows together

In [ ]:
# to concat with columns its axis =1

In [ ]:
pd.concat([df1,df2,df3],axis=1)

In [ ]:
# examples for dataframes

In [ ]:
left=pd.DataFrame({'key':['k0','k1','k2','k3'],'A':['A0','A1','A2','A3'],'B':['B0','B1','B2','B3']})

In [ ]:
right=pd.DataFrame({'key':['k0','k1','k2','k3'],'C':['C0','C1','C2','C3'],'D':['D0','D1','D2','D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
# Merging :  The merge function allows you to merge DataFrames using a similar logic as merging sql tables together: for ex

In [ ]:
pd.merge(left,right,how='inner',on='key')

In [ ]:
left=pd.DataFrame({'key1':['K0','K0','k1','k2'],'key2':['k0','k1','k0','k1'],'A':['A0','A1','A2','A3'],
                   'B':['B0','B1','B2','B3']})

In [ ]:
right=pd.DataFrame({'key1':['k0','k1','k1','k2'],'key2':['k0','k0','k0','k0'],'C':['C0','C1','C2','C3'],
                   'D':['D0','D1','D2','D3']})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left,right,on=['key1','key2'])

In [ ]:
pd.merge(left,right,how='outer',on=['key1','key2'])

In [ ]:
pd.merge(left,right,how='right',on=['key1','key2'])

In [ ]:
pd.merge(left,right,how='left',on=['key1','key2'])

In [ ]:
#joining : is a convenient method for combining the columns of two potentially differently indexed Dataframes into a single 
# result DataFrame

In [ ]:
me=pd.DataFrame({'A':['A0','A1','A2'],'B':['B0','B1','B2']},index=['K0','K1','K2'])

In [ ]:
you=pd.DataFrame({'C':['C0','C2','C3'],'D':['D0','D2','D3']},index=['K0','K2','K3'])

In [ ]:
me.join(you)

In [ ]:
me.join(you,how='outer')

In [ ]:
## Operations in pandas

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,6666,444],'col3':['abc','def','ghi','xyz']})

In [ ]:
df.head()

In [ ]:
# finding unique value in DataFrame

In [ ]:
# for example if we have to find unique vqlue in col 2

In [ ]:
df['col2'].unique()

In [ ]:
len(df['col2'].unique())

In [ ]:
df['col2'].nunique()

In [ ]:
# value-counts

In [ ]:
df['col2'].value_counts()

In [ ]:
df['col3'].value_counts()

In [ ]:
#selecting data

In [ ]:
 df[df['col1']>2]

In [ ]:
df['col1']>2

In [ ]:
df[(df['col1']>2)&(df['col2']>444)]

In [ ]:
df[(df['col1']>2)&(df['col2']==444)]

In [ ]:
df[(df['col1']>2)|(df['col2']==444)]

In [ ]:
#Apply metthod

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

In [ ]:
df['col2'].apply(lambda x: x*2)

In [ ]:
df.drop('col1',axis=1)

In [ ]:
# if have to drop it completely from dataframe, we have to use inplace=true
#df.drop('col1',axis=1,inplace=True)

In [ ]:
# to get our columns

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
#sorting

In [ ]:
df.sort_values('col2')

In [ ]:
df.sort_values(by='col2')

In [ ]:
# to find null values  we can use is.null() operations

In [ ]:
df.isnull()

In [ ]:
#### PIVOT table

In [ ]:
data={'A':['foo','foo','foo','bar','bar','bar'],'B':['one','one','two','two','one','one'],
     'C':['x','y','x','y','x','y'],'D':[1,3,2,5,4,1]}
df=pd.DataFrame(data)

In [ ]:
df

In [ ]:
df.pivot_table(values='D',index=['A','B'],columns=['C'])

In [ ]:
 ## Data Input and Output

In [ ]:
# few of sources we usually work are :[ CSV, Excel, HTML, SQL] .
# to work with HTML source we need to install following

In [ ]:
conda install sqlalchemy
conda install lxml
conda install html5lib
conda install BeautifulSoup4

In [ ]:
conda install sqlalchemy

In [ ]:
conda install lxml

In [ ]:
conda install html5lib

In [ ]:
conda install BeautifulSoup4

In [55]:
import pandas as pd
import numpy as ny

In [ ]:
# to work with csv or excel file we need to make sure our files should be in same location as jupyter notebook
# to check location of juypter notebook we can use 'pwd'

In [56]:
pwd

'C:\\Users\\Anila\\OneDrive\\Desktop\\reena class notes'

In [ ]:
# to read csv file : pd.read_csv('filename.csv')

In [57]:
pd.read_csv('Bank_customer.csv')

   customer_id customer_name              Address state_code   Telephone
0       123001        Oliver    225-5, Emeryville         CA  1897614500
1       123002        George   194-6,New brighton         MN  1897617000
2       123003         Harry  2909-5,walnut creek         CA  1897617866
3       123004          Jack       229-5, Concord         CA  1897627999
4       123005         Jacob  325-7, Mission Dist        SFO  1897637000
5       123006          Noah    275-9, saint-paul         MN  1897613200
6       123007       Charlie      125-1,Richfield         MN  1897617666
7       123008         Robin      3005-1,Heathrow         NY  1897614000

In [ ]:
  # we can add pd.read_( and press tab to select the file name options)

In [58]:
df=pd.read_csv('Bank_customer.csv')

In [59]:
df

   customer_id customer_name              Address state_code   Telephone
0       123001        Oliver    225-5, Emeryville         CA  1897614500
1       123002        George   194-6,New brighton         MN  1897617000
2       123003         Harry  2909-5,walnut creek         CA  1897617866
3       123004          Jack       229-5, Concord         CA  1897627999
4       123005         Jacob  325-7, Mission Dist        SFO  1897637000
5       123006          Noah    275-9, saint-paul         MN  1897613200
6       123007       Charlie      125-1,Richfield         MN  1897617666
7       123008         Robin      3005-1,Heathrow         NY  1897614000

In [61]:
df.to_csv('Example',index=False)

In [62]:
pd.read_csv('Example')

   customer_id customer_name              Address state_code   Telephone
0       123001        Oliver    225-5, Emeryville         CA  1897614500
1       123002        George   194-6,New brighton         MN  1897617000
2       123003         Harry  2909-5,walnut creek         CA  1897617866
3       123004          Jack       229-5, Concord         CA  1897627999
4       123005         Jacob  325-7, Mission Dist        SFO  1897637000
5       123006          Noah    275-9, saint-paul         MN  1897613200
6       123007       Charlie      125-1,Richfield         MN  1897617666
7       123008         Robin      3005-1,Heathrow         NY  1897614000

In [ ]:
# to read excel files( from excel pandas can only import data and not formulas, or macros or images)

In [63]:
conda install xlrd

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [98]:
df2=pd.read_excel('example excel.xlsx','Sheet1')

In [99]:
df2

   alpha   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

In [ ]:
# to write to a excel file for example to a new file say "excel sample"

In [85]:
df.to_excel('Excel_sample.xlsx',sheet_name= 'NewSheet')

In [ ]:
# to read from html source :(https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/)

In [89]:
data1=pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')

In [90]:
data1

[                         Bank NameBank           CityCity StateSt  CertCert  \
 0                    Almena State Bank             Almena      KS     15426
 1           First City Bank of Florida  Fort Walton Beach      FL     16748
 2                 The First State Bank      Barboursville      WV     14361
 3                   Ericson State Bank            Ericson      NE     18265
 4     City National Bank of New Jersey             Newark      NJ     21111
 ..                                 ...                ...     ...       ...
 558                 Superior Bank, FSB           Hinsdale      IL     32646
 559                Malta National Bank              Malta      OH      6629
 560    First Alliance Bank & Trust Co.         Manchester      NH     34264
 561  National State Bank of Metropolis         Metropolis      IL      3815
 562                   Bank of Honolulu           Honolulu      HI     21029

                  Acquiring InstitutionAI Closing DateClosing  FundFund
 0                            Equity Bank    October 23, 2020     10538
 1              United Fidelity Bank, fsb    October 16, 2020     10537
 2                         MVB Bank, Inc.       April 3, 2020     10536
 3             Farmers and Merchants Bank   February 14, 2020     10535
 4                        Industrial Bank    November 1, 2019     10534
 ..                                   ...                 ...       ...
 558                Superior Federal, FSB       July 27, 2001      6004
 559                    North Valley Bank         May 3, 2001      4648
 560  Southern New Hampshire Bank & Trust    February 2, 2001      4647
 561              Banterra Bank of Marion   December 14, 2000      4646
 562                   Bank of the Orient    October 13, 2000      4645

 [563 rows x 7 columns]]

In [91]:
data1[0]

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534
...,...,...,...,...,...,...,...
558,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
559,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
560,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
561,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
562,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [93]:
data1[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

In [94]:
# to read from SQL

In [ ]:
# we have many sql engines and we need different libraries for each type of sql (specific driver for specific sql engine)
# for example if we using MysQl we need piesql library for running it.
# will create a simple sql engine to see how we can import sql tables to python through pandas

In [108]:
from sqlalchemy import create_engine

In [109]:
engine=create_engine('sqlite:///:memory:')

In [110]:
df.to_sql('my_table',engine)  # here 'my_table' is what we creating ( so it can be any name) to the memory and the connection
# to the engine created here its'engine'

8

In [112]:
sqldf=pd.read_sql('my_table',con=engine) #con=connection to the engine

In [113]:
sqldf

,index,customer_id,customer_name,Address,state_code,Telephone
0,0,123001,Oliver,"225-5, Emeryville",CA,1897614500
1,1,123002,George,"194-6,New brighton",MN,1897617000
2,2,123003,Harry,"2909-5,walnut creek",CA,1897617866
3,3,123004,Jack,"229-5, Concord",CA,1897627999
4,4,123005,Jacob,"325-7, Mission Dist",SFO,1897637000
5,5,123006,Noah,"275-9, saint-paul",MN,1897613200
6,6,123007,Charlie,"125-1,Richfield",MN,1897617666
7,7,123008,Robin,"3005-1,Heathrow",NY,1897614000

#  3. Pandas exercise

#A.  pandas exercise on SF-salaries

In [ ]:
# Welcome  to a quick exercise for you to practise your pandas skills . we will be using the "SF salaries dataset" from Kaggle!
#

In [ ]:
#1.Import pandas

In [2]:
import pandas as pd

In [ ]:
#2. read SF salaries data set as csv dataframe as sal

In [3]:
sal=pd.read_csv('SF_Salaries.csv')

In [140]:
sal

,Unnamed: 0,Id,Employee Name,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,gender
0,0,1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.00,400184.25,0.0,567595.43,567595.43,2011,San Francisco,q,m
1,1,2,gary jimenez,captain iii (police department),155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011,San Francisco,q,m
2,2,3,albert pardini,captain iii (police department),212739.13,106088.18,16452.60,0.0,335279.91,335279.91,2011,San Francisco,q,m
3,3,4,christopher chong,wire rope cable maintenance mechanic,77916.00,56120.71,198306.90,0.0,332343.61,332343.61,2011,San Francisco,q,m
4,4,5,patrick gardner,"deputy chief of department,(fire department)",134401.60,9737.00,182234.59,0.0,326373.19,326373.19,2011,San Francisco,q,m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148649,148650,roy i,custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco,PT,m
148650,148650,148651,not provided,not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco,q,m
148651,148651,148652,not provided,not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco,q,m
148652,148652,148653,not provided,not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco,q,m
148653,148653,148654,joe lopez,"counselor, log cabin ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,San Francisco,PT,m

In [141]:
sal.head(2)

,Unnamed: 0,Id,Employee Name,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,gender
0,0,1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.00,400184.25,0.0,567595.43,567595.43,2011,San Francisco,q,m
1,1,2,gary jimenez,captain iii (police department),155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011,San Francisco,q,m

In [ ]:
# 3. use info method to find out how many entries there are

In [142]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        148654 non-null  int64
 1   Id                148654 non-null  int64
 2   Employee Name     148653 non-null  object
 3   JobTitle          148654 non-null  object
 4   BasePay           148049 non-null  float64
 5   OvertimePay       148654 non-null  float64
 6   OtherPay          148654 non-null  float64
 7   Benefits          148654 non-null  float64
 8   TotalPay          148654 non-null  float64
 9   TotalPayBenefits  148654 non-null  float64
 10  Year              148654 non-null  int64
 11  Agency            148654 non-null  object
 12  Status            148654 non-null  object
 13  gender            148654 non-null  object
dtypes: float64(6), int64(3), object(5)
memory usage: 15.9+ MB

In [ ]:
#4. what is the average of base pay

In [4]:
sal.dropna()

,Unnamed: 0,Id,Employee Name,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,gender
0,0,1,nathaniel ford,general manager-metropolitan transit authority,167411.18,0.00,400184.25,0.0,567595.43,567595.43,2011,San Francisco,q,m
1,1,2,gary jimenez,captain iii (police department),155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011,San Francisco,q,m
2,2,3,albert pardini,captain iii (police department),212739.13,106088.18,16452.60,0.0,335279.91,335279.91,2011,San Francisco,q,m
3,3,4,christopher chong,wire rope cable maintenance mechanic,77916.00,56120.71,198306.90,0.0,332343.61,332343.61,2011,San Francisco,q,m
4,4,5,patrick gardner,"deputy chief of department,(fire department)",134401.60,9737.00,182234.59,0.0,326373.19,326373.19,2011,San Francisco,q,m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148649,148650,roy i,custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco,PT,m
148650,148650,148651,not provided,not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco,q,m
148651,148651,148652,not provided,not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco,q,m
148652,148652,148653,not provided,not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco,q,m
148653,148653,148654,joe lopez,"counselor, log cabin ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,San Francisco,PT,m

In [144]:
sal['BasePay'].mean()

66323.65685410085

In [ ]:
#5. What is the highest amount of OvertimePay in the dataset

In [145]:
sal['OvertimePay'].max()

245131.88

In [ ]:
#6. What is the Job title of Joseph Driscoll ? Note Use all caps , otherwise you may get an answer that doesnt match up 
#(since there is also lowercase Joseph Driscoll)

In [146]:
sal[sal['Employee Name']=='JOSEPH DRISCOLL']

Empty DataFrame
Columns: [Unnamed: 0, Id, Employee Name, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Agency, Status, gender]
Index: []

In [ ]:
# since i have ultereed the data will go for lowercase joseph driscoll

In [149]:
sal[sal['Employee Name']=='joseph driscoll']

,Unnamed: 0,Id,Employee Name,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,gender
24,24,25,joseph driscoll,"captain, fire suppression",140546.86,97868.77,31909.28,0.00,270324.91,270324.91,2011,San Francisco,q,m
36198,36198,36199,joseph driscoll,"captain, fire suppression",145658.98,114513.29,28743.36,42919.16,288915.63,331834.79,2012,San Francisco,q,m

In [148]:
sal[sal['Employee Name']=='joseph driscoll']['JobTitle']

24       captain, fire suppression
36198    captain, fire suppression
Name: JobTitle, dtype: object

In [ ]:
#7. How much does Joseph driscoll make (including benefits)

In [150]:
sal[sal['Employee Name']=='joseph driscoll']['TotalPayBenefits']

24       270324.91
36198    331834.79
Name: TotalPayBenefits, dtype: float64

In [ ]:
#8. What is the highest paid person (including benefits)

In [156]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['Employee Name']

0    nathaniel ford
Name: Employee Name, dtype: object

In [159]:
# or one more method to solve #8

In [160]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

Unnamed: 0                                                       0
Id                                                               1
Employee Name                                       nathaniel ford
JobTitle            general manager-metropolitan transit authority
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       0.0
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Agency                                               San Francisco
Status                                                           q
gender                                                           m
Name: 0, dtype: object

In [ ]:
#9. What is the name of lowest paid person (including benefits)? Do you notice something strange about how much  she / he is 
# getting paid?

In [162]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min]

Empty DataFrame
Columns: [Unnamed: 0, Id, Employee Name, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits, Year, Agency, Status, gender]
Index: []

In [ ]:
#or

In [161]:
sal.iloc[sal['TotalPayBenefits'].argmin()]

Unnamed: 0                              148653
Id                                      148654
Employee Name                        joe lopez
JobTitle            counselor, log cabin ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Agency                           San Francisco
Status                                      PT
gender                                       m
Name: 148653, dtype: object

In [ ]:
# in ref#9  Joe Lopez owes payment to the company

In [ ]:
#10. What is the average (mean) BasePay of all employees per year (2011-2014)

In [165]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66557.437750
Name: BasePay, dtype: float64

In [ ]:
 #11. How many unique job titles are there

In [167]:
sal['JobTitle'].nunique()

1637

In [ ]:
#or

In [168]:
len(sal['JobTitle'].unique())

1637

In [ ]:
#12. what are the Top 5 most common jobs?

In [169]:
sal['JobTitle'].value_counts().head(5)

transit operator    9424
special nurse       5791
registered nurse    4955
custodian           3214
firefighter         3153
Name: JobTitle, dtype: int64

In [ ]:
#13. How many job titles represent by only one person in 2013?
#Eg:Job Titles with only one occurence in 2013?

In [170]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts()==1)

202

In [ ]:
#14. how many people have the word 'Chief' in their job title?(this is bit tricky one)

In [171]:
sal['JobTitle']

0         general manager-metropolitan transit authority
1                        captain iii (police department)
2                        captain iii (police department)
3                   wire rope cable maintenance mechanic
4           deputy chief of department,(fire department)
                               ...
148649                                         custodian
148650                                      not provided
148651                                      not provided
148652                                      not provided
148653                        counselor, log cabin ranch
Name: JobTitle, Length: 148654, dtype: object

In [ ]:
# to solve #14 we need to create a function

In [172]:
def chief_string(title):
    if'chief' in title.lower().split():
        return True
    else:
        return False

In [173]:
sal['JobTitle'].iloc[0]

'general manager-metropolitan transit authority'

In [175]:
sum(sal['JobTitle'].apply(lambda x : chief_string(x)))

477

In [ ]:
#BONUS IS THERE a correlation between length of job title string and salary?

In [5]:
sal['title_len']=sal['JobTitle'].apply(len)

In [7]:
sal[['JobTitle','title_len']].corr()

           title_len
title_len        1.0

In [9]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

In [ ]:
# there is no correlation between salary and job title

In [10]:
sal[['TotalPayBenefits','title_len']]

        TotalPayBenefits  title_len
0              567595.43         46
1              538909.28         31
2              335279.91         31
3              332343.61         36
4              326373.19         44
...                  ...        ...
148649              0.00          9
148650              0.00         12
148651              0.00         12
148652              0.00         12
148653           -618.13         26

[148654 rows x 2 columns]

# 4. Pandas-Ecommerce purchases exercise

In [ ]:
# I dont have the data from class, iam taking an other data from kaggle -Ecommerce Purchases data

In [ ]:
#1. Import pandas and read ecommerce purchase data into ecom

In [65]:
import pandas as pd

In [66]:
ecom=pd.read_csv("Ecommerce Purchases.csv")

In [67]:
ecom

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.011930e+15,Feb-20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337760e+15,Nov-18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.759580e+11,Aug-19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.011580e+15,Feb-24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.011460e+15,Oct-25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,3.429450e+14,Mar-22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",2.100330e+14,Jul-25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6.011540e+15,May-21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,1.800030e+14,Nov-17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4.139970e+15,Feb-19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [ ]:
#2. Check head od dataframe

In [16]:
ecom.head(2)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73

In [ ]:
#3. How many rows and columns there are?

In [17]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [ ]:
# or

In [18]:
len(ecom.index)

10000

In [20]:
len(ecom.columns)

14

In [ ]:
#3. what is the average purchase price?

In [21]:
ecom['Purchase Price'].mean()

50.34730200000025

In [ ]:
#4. what were the highest and lowest purchase prices?

In [22]:
ecom['Purchase Price'].max()

99.99

In [23]:
ecom['Purchase Price'].min()

0.0

In [ ]:
#5. How many people have English 'en' as their language of choice on the website?

In [25]:
ecom[ecom['Language']=='en']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,"714 Joshua Ridges\nCarpenterville, NJ 37418",84 rK,PM,Opera/9.49.(X11; Linux i686; it-IT) Presto/2.9...,White-Wilson,3158062139581601,08/16,723,VISA 13 digit,justin11@porter-smith.info,"Nurse, mental health",40.218.118.68,en,23.96
9963,"3865 Davis Meadow Suite 915\nPort Stacieview, ...",11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424068,07/25,764,JCB 15 digit,zjames@gmail.com,Surgeon,171.24.198.172,en,58.17
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55

In [27]:
ecom[ecom['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [ ]:
# se we have 1098 people who chose 'en' as their language in the website

In [28]:
ecom[ecom['Language']=='en']['Language'].count()

1098

In [ ]:
# 6. How many people have the Job title of Lawyer

In [33]:
ecom[ecom['Job']=='Lawyer']['Job'].count()

30

In [ ]:
#or

In [34]:
len(ecom[ecom['Job']=='Lawyer'].index)

30

In [35]:
ecom[ecom['Job']=='Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [ ]:
#7. How many people made purchase during 'AM' and how many people made the purchase during 'PM'

In [39]:
ecom[ecom['AM or PM']=='AM']['AM or PM'].value_counts()

AM    4932
Name: AM or PM, dtype: int64

In [40]:
ecom[ecom['AM or PM']=='PM']['AM or PM'].value_counts()

PM    5068
Name: AM or PM, dtype: int64

In [ ]:
# or

In [41]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [ ]:
# since there are only two AM and PM we can use this method
# can check for unique # ecom['AM or PM'].unique()

In [ ]:
#8. What are the 5 most common job title?

In [42]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

In [ ]:
#9. Someone made a purchase that come from lot:"90 WT", what was the purchase price for this transaction?

In [45]:
ecom[ecom['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [ ]:
#10. what is the email of the person with the following Credit card number 4926535242672853

In [69]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

Series([], Name: Email, dtype: object)

In [ ]:
#11. How many people have American Express as their Credit card Provider and made a Purchase above $95?

In [71]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [ ]:
#12 How many people have credit cards that expire in 2025?

In [74]:
ecom['CC Exp Date'].iloc[0][3:] # its to see if this in strings

'-20'

In [73]:
ecom['CC Exp Date'].apply(lambda exp: exp[3:]=='25')

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: CC Exp Date, Length: 10000, dtype: bool

In [76]:
ecom[ecom['CC Exp Date'].apply(lambda exp: exp[3:]=='25')].count()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [77]:
sum(ecom['CC Exp Date'].apply(lambda exp: exp[3:]=='25'))

0

In [ ]:
## HARD : #13.  What are the top 5 most popular email providers/host
#(eg: gmail.com, yahoo.com, etc)

In [78]:
ecom['Email']

0                    pdunlap@yahoo.com
1                   anthony41@reed.com
2       amymiller@morales-harrison.com
3          brent16@olson-robinson.info
4          christopherwright@gmail.com
                     ...
9995            iscott@wade-garner.com
9996                mary85@hotmail.com
9997                 tyler16@gmail.com
9998           elizabethmoore@reid.net
9999             rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [79]:
example_email=ecom['Email'].iloc[0]

In [80]:
example_email

'pdunlap@yahoo.com'

In [81]:
example_email.split('@')

['pdunlap', 'yahoo.com']

In [82]:
example_email.split('@')[1]

'yahoo.com'

In [ ]:
# use this logic in lambda expression to find the email providers or host

In [83]:
ecom['Email'].apply(lambda email: email.split('@')[1]) # we have to find value_counts()

0                  yahoo.com
1                   reed.com
2       morales-harrison.com
3        olson-robinson.info
4                  gmail.com
                ...
9995         wade-garner.com
9996             hotmail.com
9997               gmail.com
9998                reid.net
9999              vaughn.com
Name: Email, Length: 10000, dtype: object

In [86]:
ecom['Email'].apply(lambda email: email.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [62]:
ecom=pd.read_csv("Ecommerce Purchases.csv")

In [63]:
ecom

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.011930e+15,Feb-20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337760e+15,Nov-18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.759580e+11,Aug-19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.011580e+15,Feb-24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.011460e+15,Oct-25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,3.429450e+14,Mar-22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",2.100330e+14,Jul-25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6.011540e+15,May-21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,1.800030e+14,Nov-17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4.139970e+15,Feb-19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

#  End of session : next session in python for data visualization

In [53]:
d['target':]

TypeError: unhashable type: 'slice'

In [54]:
d

{'k1': [1, 2, 3]}